@font-face {
    font-family: "InconsolataExtraLight";
    src: url('../fonts/Inconsolata-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}

a, p{
    font-family: 'InconsolataExtraLight', serif ;
    color: white;
    font-size: 3rem;
    text-decoration: none;
    text-shadow: 1px 2px black;
}

