.wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.line1, .line2, .line3 {
    overflow: hidden;
    white-space: nowrap;
}

.line1 {
    animation: typing1 3s steps(28) normal both, blink .7s steps(2, jump-none) 3;
}

.line2 {
    animation: typing2 2s steps(26) normal both, blink .7s steps(2, jump-none) 2;
    animation-delay: 3s;
}

.line3 {
    animation: typing3 2s steps(30) normal both, blink .7s steps(2, jump-none) infinite;
    animation-delay: 5s;
}

@keyframes typing1 {
    from {width: 0;}
    to {width: 28rem;}
}


@keyframes typing2 {
    from {width: 0;}
    to {width: 26rem;}
}

@keyframes typing3 {
    from {width: 0;}
    to {width: 30rem;}
}

@keyframes blink {
    0% {border-right: 3px solid transparent}
    100% {border-right: 3px solid}
}
