.body {
    animation: fadeIn 1s cubic-bezier(0.24, 1.15, 0.85, 1.03);
    width: 100%;
    height: 85px;
    background-color: rgba(105, 105, 105, 0.5);
    border-radius: 15px 50px;
}

.item {
    line-height: 80px;
    width: 250px;
    text-align: center;
    font-family: 'InconsolataExtraLight', serif ;
    color: white;
    font-size: 3rem;
    text-decoration: none;
    text-shadow: 1px 2px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    line-height: 80px;
    width: 200px;
    font-family: 'InconsolataExtraLight', serif ;
    color: white;
    font-size: 3rem;
    text-shadow: 1px 2px black;
    margin-right: 10px;
}

.logo{
    line-height: 80px;
    width: 200px;
    font-family: 'InconsolataExtraLight', serif ;
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 2px black;
}

.logo::after{
    content:'|';
    animation: thisisme 1s infinite steps(2, jump-none);
}


@keyframes thisisme {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



.item::before{
    content: '<';
    opacity: 0;
}

.item::after{
    content: '/>';
    opacity: 0;
}

.item:hover::before {
    opacity: 1;
    transition: 0.2s;
}

.item:hover::after{
    opacity: 1;
    transition: opacity 0.2s;
}

.verticalDiv {
    height: 60px;
    border-left: 1px solid white;
    margin-left: 10px;
    margin-right: 10px;
}

@keyframes fadeIn {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0px);
    }
}

.container {
    display: inline-block;
    cursor: pointer;

}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #141414;
    margin: 6px 0;
    transition: 0.4s;
}


.bar1after {
    width: 35px;
    height: 5px;
    background-color: #141414;
    transition: 0.4s;
    transform: translate(0px, 5px) rotate(-45deg);
}

.bar2after {
opacity: 0;
}

.bar3after {
    width: 35px;
    height: 5px;
    background-color: #141414;
    margin: 6px 0;
    transition: 0.4s;
    transform: translate(0, -5px) rotate(45deg);
}

.menuStyle {
    float:left;
    width:500px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    vertical-align:bottom;
}

.logoContainer {
    float: right;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right: 40px;
}